body, html {
    height: auto;
    width: 100%;
    background-color: white;
    min-width: 1200px;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

* {
    font-family: 'Microsoft YaHei', SimHei, sans-serif;
    padding: 0;
    margin: 0;
}

.font-ss {
    font-size: 9px;
}

.font-s {
    font-size: 11px;
}

.font-ssm {
    font-size: 14px;
}

.font-sm {
    font-size: 15px;
}

.font-mmm {
    font-size: 16px;
}

.font-smm {
    font-size: 18px;
}

.font-m {
    font-size: 20px;
}

.font-msm {
    font-size: 22px;
}

.font-mm {
    font-size: 25px;
}

.font-l {
    font-size: 35px;
}

.font_w_b {
    font-weight: bold;
}

.red {
    background-color: #CA1A1D;
}

.font_number {
    font-family: Arial;
}

.width_same {
    width: 70%;
    margin: 0 auto;
}

.footer {
    text-align: center;
    font-size: 10px;
    color: #808080;
    padding: 0 0 20px 0;
    font-family: Arial;
    position: relative;
}

.cover {
    background-color: #FAFAFA;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    text-align: center;
    z-index: 100;
}

.cover > img {
    height: 100%;
}

.icons {
    display: inline-block;
    background: url(/web_portal_newVersion/imgs/icons.png) no-repeat;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.clearFloat {
    clear: both;
}

img.full_width {
    width: 100%;
}

img.full_height {
    height: 100%;
}

.a_mailto {
    cursor: pointer;
    color: #000;
    text-decoration: none;
}

.a_mailto:hover {
    color: #0000EE;
    text-decoration: underline;
}

.t_gray {
    color: #726D69;
}

.t_center {
    text-align: center;
}

.t_left {
    text-align: left;
}

.t_right {
    text-align: right;
}

.contentWrapper {
    min-height: 300px;
    width: 100%;
    margin: 0 auto;
    background-color: #FFF;
}

.module {
    width: 100%;
    min-width: 1200px;
    font-family: "Microsoft YaHei", "Hiragino Sans GB";
}

.inner {
    width: 100%;
    overflow: hidden;

}

.txt-desc {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0
}

.inner-banner {
    width: 100%;
    height: 460px;
    position: relative;
    overflow: hidden;
}

.inner-banner img {
    overflow: hidden;
}

.inner-content {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    padding: 50px 0 50px 0;
    box-sizing: border-box;
}

.inner-content .inner-title {
    height: 45px;
    line-height: 45px;
    color: #fff;
    padding-top: 50px;
    overflow: hidden;
}

.inner-content .inner-text-box {
    overflow: hidden;
    width: 100%;
    margin: 70px auto 20px auto;
}

.inner-content .inner-text-box .inner-text {
    color: #fff;
    overflow: hidden;
    width: 50%;
    margin: 0 auto;
    text-indent: 2em;
}

.inner-background {
    width: 100%;
    height: 455px;
    overflow: hidden;
    position: relative;
}

.team {
    width: 1200px;
    margin: 0 auto;
    padding: 30px 0 40px;
}

.team .inner-title {
    height: 45px;
    line-height: 45px;
    padding: 40px 0 20px 0;
}

.team .teamFrom {
    color: #2673C1;
    padding: 10px 0 10px 0;
}

.team .team-brief {
    overflow: hidden;
    width: 71%;
    margin: 0 auto;
    text-indent: 2em;
    line-height: 40px;
}

.inner-box {
    width: 100%;
    background-color: #fff;
    overflow: hidden;
}

.inner-main {
    min-height: 0 !important;
}

.inner-box .inner-main {
    width: 100%;
}

.lifeExperience {
    width: 1200px;
    margin: 0 auto;
    padding: 0px 0 50px;
}

.lifeExperience .inner-title {
    padding: 50px 0 20px 0;
}

.timeLine {
    margin: 30px 10px 20px 150px;
    cursor: pointer;
}

.yearBox {
    position: relative;
}

.yearBox.more {
    min-height: 50px;
    height: 100%;
}

.dateMore {
    border-left: 1px dashed #2673C1;
    position: relative;
    padding-left: 20px;
    min-height: 50px;
    height: 100%;
    z-index: 100;
}

.year {
    position: absolute;
    left: -54px;
    width: 114px;
    color: #2673C1;
    height: 30px;
    line-height: 30px;
    padding: 0 35px;
    border: 1px solid #2673C1;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-box-shadow: 0 0 0 5px #d4e3f3;
    box-shadow: 0 0 0 5px #d4e3f3;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    z-index: 99;
}

.txt {
    position: absolute;
    left: 35px;
    top: 10px
}

.lineLeft {
    position: absolute;
    width: 40px;
    height: 1px;
    margin: 0 auto;
    padding: 0;
    background-color: #2673C1;
    overflow: hidden;
    left: -99px;
    top: 14px;
}

.lineRight {
    position: absolute;
    width: 40px;
    height: 1px;
    margin: 0 auto;
    padding: 0;
    background-color: #2673C1;
    overflow: hidden;
    left: 65px;
    top: 14px;
}

.experienceFlow {
    padding-top: 30px;
}

.experienceFlow > li {
    position: relative;
    border-left: 1px solid #2673C1;
    z-index: 100;
    box-sizing:border-box ;
    padding-bottom: 10px;
}

.experienceFlow li .time {
    position: relative;
    left: -80px;
    top: 17px;
    font-size: 16px;
    width: 80px;
}

.experienceFlow li .detailTime {
    left: -101px;
}

.experienceFlow li.active .point {
    width: 14px;
    height: 14px;
    left: -6px;
    -webkit-box-shadow: 0 0 0px 5px #C8DCEF;
    -ms-box-shadow: 0 0 0px 5px #C8DCEF;
    box-shadow: 0 0 0px 5px #C8DCEF;
    filter: progid:DXImageTransform.Microsoft.Shadow(color='#C8DCEF', Direction=360, Strength=0); /* ie8 shadow */
}

.experienceFlow li .point {
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: #2673C1;
    border-radius: 20px;
    left: -6px;

}

.experienceFlow li .point .pointRight {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 1px;
    margin: 0 auto;
    padding: 0;
    background-color: #2673C1;
    overflow: hidden;
    top: -10px;
    left: 11px;
    z-index: 2;
}

.experienceFlow li .desc {
    position: relative;
    left: 49px;
    top: -5px;
    font-size: 16px;
}

.experienceFlow > li:first-of-type{
    padding-top: 40px;
}

.experienceFlow > li:last-of-type {
    padding-bottom: 60px;
}

.experienceFlow li .icon-company {
    display: inline-block;
    padding: 0 20px;
    height: 40px;
    background: url("css/images/lineLogo.png") no-repeat 0 0;
    position: relative;
    left: -21px;
    top: 84px
}

.inner-contact {
    width: 100%;
    min-height: 0 !important;
    background-color: #F7F8F8;
    overflow: hidden;
}

.inner-contact .contactWay {
    width: 1200px;
    margin: 20px auto;
    padding: 30px 0 40px;
}

.contactWay .inner-title {
    padding: 30px 0 20px 0;
}

.contactWay .location {
    position: relative;
    margin-top: 40px;
    padding-top: 40px;
    margin-bottom: 20px;
    height: 110px;
}

.contactWay .location .longLine {
    width: 80%;
    height: 2px;
    border-bottom: 1px dashed #2673C1;
    margin: 0 auto;
    padding: 3px;
    overflow: hidden;
    left: 50%;
}

.contactWay .location .location-area {
    width: 60%;
    margin: 0 auto;
    position: absolute;
    top: -10px;
    left: 285px;
}

.contactWay .location .location-icon {
    width: 25%;
    margin-left: 44px;
    top: -20px;
    display: inline-block;
    height: 110px;
}

.contactWay .location .location-icon .city {
    width: 110px;
    height: 110px;
    position: absolute;
    /*top: -8px;*/
    /*border-radius: 100%;*/

    /*behavior: url("scripts/PIE.htc");*/
}

.contactWay .location .location-icon .sh {
    background: url("css/images/sh.png") no-repeat 0 0;

}

.contactWay .location .location-icon .sz {
    background: url("css/images/sz.png") no-repeat 0 0;
}

.contactWay .location .location-icon .bj {
    background: url("css/images/bj.png") no-repeat 0 0;
}

.contactWay .location .location-icon .sh.active {
    background: url("css/images/sh_1.png") no-repeat 0 0;
}

.contactWay .location .location-icon .sz.active {
    background: url("css/images/sz_1.png") no-repeat 0 0;
}

.contactWay .location .location-icon .bj.active {
    background: url("css/images/bj_1.png") no-repeat 0 0;
}

.contactWay .location .location-icon .city-title {
    position: absolute;
    color: #3E3A39;
    top: 110px
}

.contactWay .location .location-icon .sz-company {
    margin-left: 18px
}

.contactWay .location .location-icon .bj-company {
    margin-left: 45px
}

.contactWay .location .location-icon .city-hover {
    color: #2673C1;
}

.contactWay .add-area {
    margin: 40px 0 20px 0;
    padding: 10px;
}

.contactWay .add-area .add-show {
    display: none;
}

.contactWay .add-area .add-show.active {
    display: block;
}

.contactWay .add-area .add-detail {
    position: relative;
    padding: 15px;
    margin-bottom: 0;
    line-height: 20px;
    color: #fff;
    background-color: #2673C1;
    text-align: center;
}

.contactWay .add-area .map {
    position: relative;
    height: 400px;
}

#map {
    position: relative;
    overflow: hidden;
    height: 400px;
    border: 1px solid red;
}

.contactUs {
    width: 100%;
    background: #2EA7E0;
    height: 360px;
    box-sizing: border-box;
    padding-top: 70px;
    padding-bottom: 60px;
}

.contactUs .contactDetail {
    width: 25%;
    height: 100px;
    margin: 25px auto;
    text-align: center;
}

.contactUs:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.contactUs .contactDetail .box {
    margin: 0 auto;
    width: 150px;
}

.contactUs .contactDetail .box .icon-top {
    position: relative;
    margin: 0 auto;
    width: 100px;
    height: 100px;
}

.contactUs .contactDetail .box .icon-phone {
    background: url("css/images/joinUs_1.png") no-repeat 0 0;
}

.contactUs .contactDetail .box .icon-email {
    background: url("css/images/joinUs_2.png") no-repeat 0 0;
}

.contactUs .contactDetail .box .icon-business {
    background: url("css/images/joinUs_3.png") no-repeat 0 0;
}

.contactUs .contactDetail .box .icon-social {
    background: url("css/images/joinUs_4.png") no-repeat 0 0;
}

.contactUs .contactDetail .box .icon-title {
    margin-top: 20px;
    color: #fff;
}

.joinUs-container {
    width: 1200px;
    margin: 0 auto;
}

.joinUs {
    margin-top: 50px;
    margin-bottom: 60px;
}

.joinUs .joinUs-head {
    /*position: relative;
    padding-top: 10px;
    margin-bottom: 30px;*/
}

.joinUs .joinUs-head .inner-title {
    font-weight: normal;

}

.joinUs .joinUs-head .joinUs-info {
    margin-top: 10px;
    color: #000;
}

.joinUs .joinUs-content {
    position: relative;
    margin-bottom: 30px;
    overflow: hidden;
    padding: 10px;
}

.job {
    position: relative;
    display: inline-block;
    height: 45px;
    line-height: 45px;
    text-align: center;
    color: #2673C1;
    border: 1px solid #2673C1;
    background-color: #f4fafd;
    padding: 0 30px;
    border-radius: 5px;
    margin-right: 15px;
    margin-bottom: 30px;
    behavior: url("scripts/PIE.htc");
}

.job.hover {
    background-color: #219ed9;
    border: 1px solid #219ed9;
    color: #fff;
}

.job-nav {
    width: 100%;
    margin: 0 auto;
    background: #1C2033;
    height: 65px;

}

.job-nav .nav-inner {
    min-width: 1000px;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

.job-nav .nav-inner .logo {
    width: 20%;
    height: 35px;
    color: #fff;
    padding: 20px 40px 40px 100px;
    box-sizing: border-box;
}

.job-head {
    width: 90%;
    margin: 0 auto;
}

.job-head .job-link {
    padding: 40px 20px 20px 20px;
    background: #fff;
}

.job-content {
    width: 100%;
    margin: 0 auto;
    background: #F7F8F8;
}

.job-content .job-list {
    width: 90%;
    margin: 0 auto;
    padding: 30px 0 10px 0;
    box-sizing: border-box;
}

.job-content .job-list .job-detail {
    padding-left: 100px;
    padding-right: 100px;
    box-sizing: border-box;
    border-bottom: 1px solid #2673C1;
    margin-bottom: 20px;

}

.job-content .job-list .job-detail > div {
    padding-top: 50px;
}

.job-content .job-list .job-name {
    font-weight: normal;
    color: #2673C1;
}

.job-content .job-list .job-duty {
    margin-top: 10px;
    margin-bottom: 20px;
    color: #3E3A39;
}

.job-content .job-list .job-duty .job-duty-title, .job-content .job-list .Job-requirements .job-duty-title {
    margin-bottom: 15px;
    font-size: 16px;
}

.job-content .job-list .job-duty ul > li, .job-content .job-list .Job-requirements ul > li {
    text-indent: 1em;
    font-size: 16px;
    padding-bottom: 15px;
}

.job-content .job-list .Job-requirements {
    margin-top: 40px;
    margin-bottom: 50px;
    color: #3E3A39;
}

#backTop {
    position: fixed;
    right: 40px;
    bottom: 40px;
    background-color: #bdcce5;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 4px;
    text-align: center;
    box-sizing: border-box;
}

#backTop:hover {
    background-color: #a8b6cc;
}

.arrow {
    background: url("css/images/arrow.png") no-repeat center center;
    width: 50px;
    height: 50px;
    display: block;
    background-size: 50% 50%;
}

.iw_poi_title {
    color: #CC5522;
    font-size: 14px;
    font-weight: bold;
    overflow: hidden;
    padding-right: 13px;
    white-space: nowrap;
}

.iw_poi_content {
    font: 12px arial, sans-serif;
    overflow: visible;
    padding-top: 4px;
    white-space: -moz-pre-wrap;
    word-wrap: break-word;
}