<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
</head>
<body>
    <div id="app">
        <h1 @click="changeCity">{{city}}</h1>
    </div>
<script>
    var vm=new Vue({
        el:"#app",
        data:{
            city:"上海",
            cityList: [
                {city:"北京",id:"1"},
                {city:"杭州",id:"2"},
                {city:"上海",id:"3"},
                {city:"南京",id:"4"}
            ],
            loaction:{id:2}
        },
        methods:{
            changeCity:function () {
                var _this = this;
                _this.cityList.forEach((item) => {
                    if(item.id == this.loaction.id) {
                        this.city = item.city
                }
            })
            }


        }
    })
</script>
</body>
</html>