<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/handsontable.full.min.css">
    <!--<link rel="stylesheet" href="../css/bootstrap-editable.css">-->
    <script type="text/javascript" src="../script/libs/jquery-2.2.0.min.js"></script>
    <script type="text/javascript" src="../script/libs/bootstrap.min.js"></script>
    <!--<script type="text/javascript" src="../script/libs/bootstrap-editable.js"></script>-->
    <script type="text/javascript" src="../script/libs/handsontable.full.min.js"></script>
    <script type="text/javascript" src="../script/controller/dropdown.js"></script>
    <style>
        .dropdown-toggle {
            margin: -7px 10px 0 10px;
        }

        .dropdown-menu{
            min-width: 180px;
        }

        .dropdown-submenu > .dropdown-menu {
            top: 0;
            left: 100%;
            margin-top: -6px;
            margin-left: -1px;
            -webkit-border-radius: 0 6px 6px 6px;
            -moz-border-radius: 0 6px 6px;
            border-radius: 0 6px 6px 6px;
        }

        .dropdown-submenu:hover > .dropdown-menu {
            display: block;
        }

        .dropdown-submenu > a:after {
            display: block;
            content: " ";
            float: right;
            width: 0;
            height: 0;
            border-color: transparent;
            border-style: solid;
            border-width: 5px 0 5px 5px;
            border-left-color: #ccc;
            margin-top: 5px;
            margin-right: -10px;
        }

        .score {
            margin-top: -31px;
            position: relative
        }

        .table {
            margin-top: 20px
        }

        .table > tbody > tr > td {
            height: 35px;
            line-height: 35px;
            width: 30%;
            box-sizing: border-box;

        }


        .select {
            width: 40%;
            height: 35px;
            position: relative;
            top: -12px;
            left: 20px;
            margin-right:5px
        }

        .value-input {
            position: relative;
            display: block;
            border: none;
            border-radius: 0;
            color: #000;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            -webkit-appearance: none;
            outline: none;
            box-sizing: border-box;
        }
        .result-value{
            left: 142px;
            position: absolute;
        }
        .inputArea{
            margin: 0 0 10px 0;
            width: 20%;
            height: 34px;
            line-height: 34px;
        }
        .value-select{
            left: 26px;
        }

        .handsontable .selected-td{background-color: rgb(224, 236, 255)}
        /*.handsontable tbody tr:not(:first-child) td{background-color:rgb(224, 236, 255) }*/
        .handsontable tbody tr td:not(:first-child){background-color:rgb(224, 236, 255) }
        .handsontable .selected{background-color: rgb(255, 255, 255)}
        .elseTable > tbody > tr > td {
            height: 35px;
            line-height: 35px;
            width: 20%;
            box-sizing: border-box;

        }
    </style>
</head>
<body>
<div style="padding:100px 100px 150px" id="container">
    <form class="bs-example bs-example-form" role="form">
        <div class="row">
            <div class="col-lg-6" style="margin-bottom: 15px" data-index="0">
                <div class="input-group">
                    <input type="text" class="form-control" value=""/>
                    <input type="hidden" class="rowsVal" />
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            行变量
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li class="dropdown-submenu">
                                <a href="javascript:void(0)" tabindex="-1" data-type="INPUT">输入变量</a>
                                <ul class="dropdown-menu pull-right">
                                    <li><a href="javascript:void(0)">STAN_SH_RULE_FIRED</a></li>
                                    <li><a href="javascript:void(0)">P_STAN_8002</a></li>
                                    <li><a href="javascript:void(0)">STAN_STATUS_B001</a></li>
                                    <li><a href="javascript:void(0)">STAN_ID_HASH</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a href="javascript:void(0)" tabindex="-1" data-type="OUTPUT">输出变量</a>
                                <ul class="dropdown-menu pull-right">
                                    <li><a href="javascript:void(0)">G1.ID_ORG</a></li>
                                    <li><a href="javascript:void(0)">STAN_STATUS_8003</a></li>
                                    <li><a href="javascript:void(0)">S1_MULTI_APP</a></li>
                                    <li><a href="javascript:void(0)">CELL_PHONE_ORG</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a href="javascript:void(0)" tabindex="-1" data-type="TEMP">中间变量</a>
                                <ul class="dropdown-menu pull-right">
                                    <li><a href="javascript:void(0)">APP_AMT_3M</a></li>
                                    <li><a href="javascript:void(0)">APP_COUNT</a></li>
                                    <li><a href="javascript:void(0)">FRAUD_LEVEL</a></li>
                                    <li><a href="javascript:void(0)">FRAUD_SCORE</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <button type="button" class="btn btn-default score" data-toggle="modal" data-target="#myModal1">切分表
                    </button>
                </div>
            </div>
            <br>

            <div class="col-lg-6" style="margin-bottom: 15px" data-index="1">
                <div class="input-group">
                    <input type="text" class="form-control" value=""/>
                    <input type="hidden" class="colsVal" />
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            列变量
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu pull-right">
                            <li class="dropdown-submenu">
                                <a href="javascript:void(0)" tabindex="-1" data-type="INPUT">输入变量</a>
                                <ul class="dropdown-menu pull-right">
                                    <li><a href="javascript:void(0)">STAN_SH_RULE_FIRED</a></li>
                                    <li><a href="javascript:void(0)">P_STAN_8002</a></li>
                                    <li><a href="javascript:void(0)">STAN_STATUS_B001</a></li>
                                    <li><a href="javascript:void(0)">STAN_ID_HASH</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a href="javascript:void(0)" tabindex="-1" data-type="OUTPUT">输出变量</a>
                                <ul class="dropdown-menu pull-right">
                                    <li><a href="javascript:void(0)">G1.ID_ORG</a></li>
                                    <li><a href="javascript:void(0)">STAN_STATUS_8003</a></li>
                                    <li><a href="javascript:void(0)">S1_MULTI_APP</a></li>
                                    <li><a href="javascript:void(0)">CELL_PHONE_ORG</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a href="javascript:void(0)" tabindex="-1" data-type="TEMP">中间变量</a>
                                <ul class="dropdown-menu pull-right">
                                    <li><a href="javascript:void(0)">APP_AMT_3M</a></li>
                                    <li><a href="javascript:void(0)">APP_COUNT</a></li>
                                    <li><a href="javascript:void(0)">FRAUD_LEVEL</a></li>
                                    <li><a href="javascript:void(0)">FRAUD_SCORE</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <button type="button" class="btn btn-default score" data-toggle="modal" data-target="#myModal2">切分表
                    </button>
                </div>
            </div>
            <br>

            <div class="col-lg-6" data-index="2">
                <div class="input-group">
                    <input type="text" class="form-control" value="" style="width: 72%;position: relative"/>
                    <input type="hidden" class="resultVal" />
                    <div class="input-group-btn result-value">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                style="margin:0 0 0 10px">
                            结果变量
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu pull-right" role="menu">
                            <li class="dropdown-submenu">
                                <a href="javascript:void(0)" tabindex="-1" data-type="INPUT">输入变量</a>
                                <ul class="dropdown-menu pull-right">
                                    <li><a href="javascript:void(0)">APP_AMT_3M</a></li>
                                    <li><a href="javascript:void(0)">APP_COUNT</a></li>
                                    <li><a href="javascript:void(0)">FRAUD_LEVEL</a></li>
                                    <li><a href="javascript:void(0)">FRAUD_SCORE</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a href="javascript:void(0)" tabindex="-1" data-type="OUTPUT">输出变量</a>
                                <ul class="dropdown-menu pull-right">
                                    <li><a href="javascript:void(0)">STAN_SH_RULE_FIRED</a></li>
                                    <li><a href="javascript:void(0)">P_STAN_8002</a></li>
                                    <li><a href="javascript:void(0)">STAN_STATUS_B001</a></li>
                                    <li><a href="javascript:void(0)">STAN_ID_HASH</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a href="javascript:void(0)" tabindex="-1" data-type="TEMP">中间变量</a>
                                <ul class="dropdown-menu pull-right">
                                    <li><a href="javascript:void(0)">G1.ID_ORG</a></li>
                                    <li><a href="javascript:void(0)">STAN_STATUS_8003</a></li>
                                    <li><a href="javascript:void(0)">S1_MULTI_APP</a></li>
                                    <li><a href="javascript:void(0)">CELL_PHONE_ORG</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="input-group hiddenArea" style="position: absolute;left: -20px;top:60px;width:100%;display: none">
                        <select class="select operatorResult">
                            <option value=""></option>
                            <option value="=">=</option>
                            <option value="-=">-=</option>
                            <option value="+=">+=</option>
                        </select>
                        <select class="select typeResult">
                            <option value=""></option>
                            <option value="var">变量</option>
                            <option value="const">常量</option>
                            <option value="fn">函数</option>
                        </select>
                        <div style="position: absolute" class="typeBox">
                            <input type="text" class="form-control typeArea" style="left: 21px;width:70%;position: relative;margin-bottom:10px" value=""/>
                            <div class="inputBox" style="display: none">
                                <input type="text" class="from-control dropdown-toggle inputArea" value="" data-type="var" style="margin-left:28px" />
                                <input type="text" class="from-control dropdown-toggle inputArea" value="" data-type="const" />
                                <input type="text" class="from-control dropdown-toggle inputArea" value="" data-type="const" />
                                <ul class="dropdown-menu value-select" role="menu">
                                    <li>
                                        <a href="javascript:void(0)" tabindex="-1" data-type="3" class="var">变量</a>
                                        <a href="javascript:void(0)" tabindex="-1" data-type="2" class="fn">函数</a>
                                        <a href="javascript:void(0)" tabindex="-1" data-type="1" class="const">常量</a>
                                        <!--<ul class="dropdown-menu pull-right submenu">
                                            <li><a href="javascript:void(0)">变量1</a></li>
                                            <li><a href="javascript:void(0)">变量2</a></li>
                                            <li><a href="javascript:void(0)">变量3</a></li>
                                            <li><a href="javascript:void(0)">变量4</a></li>
                                        </ul>-->
                                    </li>
                                    <!--<li class="dropdown-menu">
                                        <a href="javascript:void(0)" tabindex="-1" data-type="2" class="title">函数</a>
                                        &lt;!&ndash;<ul class="dropdown-menu pull-right submenu">
                                            <li><a href="javascript:void(0)">函数1</a></li>
                                            <li><a href="javascript:void(0)">函数2</a></li>
                                            <li><a href="javascript:void(0)">函数3</a></li>
                                            <li><a href="javascript:void(0)">函数4</a></li>
                                        </ul>&ndash;&gt;
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)" tabindex="-1" data-type="1" class="title">常量</a>
                                    </li>-->
                                </ul>
                            </div>
                            <button type="button" class="btn btn-success" style="position: absolute;right: -35px">确定</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6" style="margin-top: 200px">
                <button type="button" class="btn btn-primary compile">查看源代码</button>
            </div>
        </div>

    </form>

</div>
<div id="example"></div>
<div class="elseResult" style="display: none;margin-top: 50px;margin-left: 84px">
    <button type="button" class="btn btn-primary addElse">添加else结果</button>
    <table class="table table-bordered elseTable" style="width: 80%">
        <tbody>
            <tr>
                <td class="elseTd">ELSE</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel1">行变量切分表</h4>

                <div class="modal-body">
                    <div class="options-btn">
                        <button type="button" class="btn btn-primary add rowAdd">添加</button>
                        <button type="button" class="btn btn-danger delete">删除</button>
                    </div>
                    <div class="options-body">
                        <table class="table table-bordered" id="rowTable">
                            <thead>
                            <tr>
                                <th>比较值1</th>
                                <th>运算符</th>
                                <th>比较值2</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="editVal" data-type="const"></td>
                                <td>
                                    <select>
                                        <option value=""></option>
                                        <option value="=">=x</option>
                                        <option value=">">x></option>
                                        <option value=">=">x>=</option>
                                        <option value="<">&ltx</option>
                                        <option value="<="><=x</option>
                                        <option value="≠">≠x</option>
                                        <option value=">,<">>x<</option>
                                        <option value=">=,<">>=x<</option>
                                        <option value=">,=<">>x=<</option>
                                        <option value=">=,=<">>=x=<</option>

                                    </select>
                                </td>
                                <td class="editVal" data-type="const"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="rowSave" class="btn btn-primary save" data-dismiss="modal" aria-hidden="true">保存
                    </button>
                    <button type="button" class="btn btn-default cancel" data-dismiss="modal" aria-hidden="true">取消
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel2">列变量切分表</h4>

                <div class="modal-body">
                    <div class="options-btn">
                        <button type="button" class="btn btn-primary add colAdd">添加</button>
                        <button type="button" class="btn btn-danger delete">删除</button>
                    </div>
                    <div class="options-body">
                        <table class="table table-bordered" id="colTable">
                            <thead>
                            <tr>
                                <th>比较值1</th>
                                <th>运算符</th>
                                <th>比较值2</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="editVal" data-type="const"></td>
                                <td>
                                    <select>
                                        <option value=""></option>
                                        <option value="=">=x</option>
                                        <option value=">">x></option>
                                        <option value=">=">x>=</option>
                                        <option value="<">&ltx</option>
                                        <option value="<="><=x</option>
                                        <option value="≠">≠x</option>
                                        <option value=">,<">>x<</option>
                                        <option value=">=,<">>=x<</option>
                                        <option value=">,=<">>x=<</option>
                                        <option value=">=,=<">>=x=<</option>
                                    </select>
                                </td>
                                <td class="editVal" data-type="const"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button"  id="colSave" class="btn btn-primary save" data-dismiss="modal" aria-hidden="true">保存
                    </button>
                    <button type="button" class="btn btn-default cancel" data-dismiss="modal" aria-hidden="true">取消
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>