<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/handsontable.full.min.css">
    <script type="text/javascript" src="../script/libs/jquery-2.2.0.min.js"></script>
    <script type="text/javascript" src="../script/libs/bootstrap.min.js"></script>
    <script type="text/javascript" src="../script/libs/handsontable.full.min.js"></script>
    <script type="text/javascript" src="../script/controller/dropdown.js"></script>
    <style>
        .dropdown-toggle {
            margin: -7px 10px 0 10px;
        }

        .score {
            margin-top: -31px;
            position: relative
        }

        .table {
            margin-top: 20px
        }

        .value-input {
            position: relative;
            display: block;
            width: 100%;
            border: none;
            border-radius: 0;
            color: #000;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            -webkit-appearance: none;
            padding: 0.5em;
            outline: none
        }
    </style>
</head>
<body>
<div style="padding:100px 100px 10px">
    <form class="bs-example bs-example-form" role="form">
        <div class="row">
            <div class="col-lg-6" style="margin-bottom: 15px">
                <div class="input-group">
                    <input type="text" class="form-control" value=""/>

                    <div class="input-group-btn">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            行变量
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="javascript:void(0)">行变量1</a></li>
                            <li><a href="javascript:void(0)">行变量2</a></li>
                            <li><a href="javascript:void(0)">行变量3</a></li>
                            <li><a href="javascript:void(0)">行变量4</a></li>
                            <li><a href="javascript:void(0)">行变量5</a></li>
                        </ul>
                    </div>
                    <button type="button" class="btn btn-default score" data-toggle="modal" data-target="#myModal">切分表
                    </button>
                </div>
            </div>
            <br>

            <div class="col-lg-6">
                <div class="input-group">
                    <input type="text" class="form-control" value=""/>

                    <div class="input-group-btn">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            列变量
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="javascript:void(0)">列变量1</a></li>
                            <li><a href="javascript:void(0)">列变量2</a></li>
                            <li><a href="javascript:void(0)">列变量3</a></li>
                            <li><a href="javascript:void(0)">列变量4</a></li>
                            <li><a href="javascript:void(0)">列变量5</a></li>
                        </ul>
                    </div>
                    <button type="button" class="btn btn-default score" data-toggle="modal" data-target="#myModal">切分表
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
<div id="example"></div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">行变量切分表</h4>

                <div class="modal-body">
                    <div class="options-btn">
                        <button type="button" class="btn btn-primary">添加</button>
                        <button type="button" class="btn btn-danger">删除</button>
                    </div>
                    <div class="options-body">
                        <table class="table table-bordered">
                            <tbody>
                            <tr data-index="0">
                                <td>
                                    <input type="text" class="value-input"/>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="save">保存</button>
                    <button type="button" class="btn btn-default" id="cancel">取消</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>