<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../css/jquery.contextMenu.min.css">
    <script type="text/javascript" src="../script/libs/vue.js"></script>
    <script type="text/javascript" src="../script/libs/jquery-2.2.0.min.js"></script>
    <script type="text/javascript" src="../script/libs/jquery.contextMenu.min.js"></script>
    <script type="text/javascript" src="../script/libs/jquery.ui.position.js"></script>
    <style>
        body, html {
            height: auto;
            width: 100%;
            background-color: white;
            min-width: 1200px;
        }

        ul, li {
            list-style: none;
        }

        a {
            text-decoration: none;
            color: black;
        }

        * {
            font-family: 'Microsoft YaHei', SimHei, sans-serif;
            padding: 0;
            margin: 0;
        }
        .button{
            margin-top: 10px;
            margin-left: 30px;
        }
        .button button{
            display: inline-block;
            width: 100px;
            height: 35px;
            line-height: 35px;
        }
        #table{
            margin-top: 30px;
            margin-left: 30px;
            font-size: 0;

        }
        #table>table{
            border: 1px solid #CCCCCC;
            max-width: 100%;
            border-spacing:0 ;
            display: inline-block;

        }
        #table>table:first-child{
            border-right: none;
        }
        #table>table{
            border-bottom: none;
        }
        #table table td {
            text-align: center;
            font-size: 12px;
            height: 35px;
            width: 220px;
            border-bottom: 1px solid #ccc;
            border-right: 1px solid #ccc;
            box-sizing: border-box;
        }

        #table table td.selected{
            boder:1px solid #29c6d4;
        }

        #table table tr td:last-child{
            border-right: none;
        }

        #table table td input{
            display: inline-block;
            width: 220px;
            height: 35px;
            border: none;
            text-align: center;
        }

        #table table td input.selected{
            background-color:#ecfcff ;
        }

    </style>
</head>
<body>
<div id="box">
    <div class="button">
        <button @click="addCondition">添加条件列</button>
        <button @click="addResult">添加结果列</button>
    </div>
    <div id="table">
        <table>
            <!--<tr v-for="(item,index) in condition">-->
                <!--<td v-for="list in item.list"><input type="text" readonly="readonly" v-model="list.title"></td>-->
            <!--</tr>-->
            <tr v-for="(item,index) in condition">
                <td v-for="data in item"><input type="text" class="context-menu-one" readonly="readonly" v-model="data.name" :types="data.type" v-on:click="showCondition"></td>
            </tr>
        </table>
        <table>
            <tr v-for="(items,index) in result">
                <td v-for="data in items"><input type="text" readonly="readonly"  v-model="data.name"></td>
            </tr>
        </table>
        <!--<condition-part v-bind:type="'condition'" v-bind:result="cols.conditions"></condition-part>-->
        <!--<table>-->
            <!--<tr v-for="(con,index) in variate">-->
                <!--<td v-bind:type="'var'" v-on:click.self="openVarList">-->
                    <!--请选择条件变量-->
                <!--</td>-->
            <!--</tr>-->
        <!--</table>-->
        <!--<table>-->
            <!--<tr>-->
                <!--<td v-on:click.self="openVarList">-->
                    <!--请选择结果变量-->
                <!--</td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td>-->
                    <!--请输入结果-->
                <!--</td>-->
            <!--</tr>-->
        <!--</table>-->

    </div>
</div>
<script>

    var vm=new Vue({
        el:"#box",
        data:{
//            "condition":[{
//                "list":[
//                    {
//                        "title":"请选择变量"
//                    },
//                    {
//                        "title":"请选择变量1"
//                    },
//                    {
//                        "title":"请选择变量2"
//                    }
//                ]
//            },
//                {
//                    "list":[
//                        {
//                            "title":"请选择变量10"
//                        },
//                        {
//                            "title":""
//                        },
//                        {
//                            "title":""
//                        },
//
//                    ]
//                },
//                {
//                    "list":[
//                        {
//                            "title":"请选择变量9"
//                        },
//                        {
//                            "title":""
//                        },
//                        {
//                            "title":""
//                        },
//
//                    ]
//                }
//            ],

            condition: [[{name:'请选择变量',type:"var"}],[{name:'请输入条件',type:"condition"}]],
            result: [[{name:'请选择变量',type:"var"}],[{name:'请输入结果',type:"result"}]],
        },
        mounted: function () {
            this.showContextMenu();
        },
        methods:{
            addCondition:function () {
                var rows = [{name:'请选择变量3',type:"var"},{name:'请输入条件3',type:"condition"}];
                //this.result.splice(index,2);
                for (var i = 0; i < this.condition.length; i++) {
                    if(this.condition.length>2){
                        var item={name:'请输入条件',type:"condition"};
                        rows.push(item);
                        this.condition[i].push(rows[i]);
                        //console.log("添加值"+JSON.stringify(rows));
                    }else{
                        this.condition[i].push(rows[i]);
                    }


                }
            },
            addResult:function () {
                var rows =[{name:'请选择变量6',type:"var"},{name:'请输入结果6',type:"result"}];
                for (var i = 0; i < this.result.length; i++) {
                    if(this.result.length>2){
                        var item={name:'请输入结果',type:"result"};
                        rows.push(item);
                        this.result[i].push(rows[i]);
                        //console.log("添加值"+JSON.stringify(rows));
                    }else{
                        this.result[i].push(rows[i]);
                    }


                }
            },
            showContextMenu:function(){
                var _self=this;
                $.contextMenu({
                    selector: '.context-menu-one',
                    callback: function(key, options) {
                        var m = key;
                        if(m=="row_below"){
//                            var conditionLength=_self.condition.length;
//                            var resultLength=_self.result.length;
//                            var arrItem=[],arrItems=[];
//                            console.log("条件长度"+_self.condition.length);
//                            console.log("结果长度"+_self.result.length);
//                            console.log("条件数组"+JSON.stringify(_self.condition));
//                            for (var i = 0; i < _self.condition.length; i++) {
//                                var item={name:'请输入条件',type:"condition"};
//                                arrItem.push(item);
//
//                            }
//                            for (var j = 0; j < _self.result.length; j++) {
//                                var item={name:'请输入结果',type:"result"};
//                                arrItems.push(item);
//
//                            }
//                            console.log("arrItem："+JSON.stringify(arrItem));
//
//                            if(conditionLength>1){
//                                _self.condition.splice(conditionLength,0,arrItem);
//                            }else{
//                                _self.condition.splice(conditionLength,0,[{name:'请输入条件',type:"result"}]);
//                            }
//
//                            if(resultLength>1){
//                                _self.result.splice(resultLength,0,arrItems);
//                            }else{
//                                _self.result.splice(resultLength,0,[{name:'请输入结果',type:"result"}]);
//                            }
//
//                            //_self.result.splice(resultLength,0,[{name:'请输入结果1',type:"result"}]);
//                            console.log("条件"+JSON.stringify(_self.condition));
//                            console.log("结果"+JSON.stringify(_self.result));
                            var conditionLength;
                            var resultLength;
                            var arrItem=[],arrItems=[];
                            console.log("长度"+_self.condition.length);
                            console.log("条件数组"+JSON.stringify(_self.condition));
                            for (var i = 0; i < _self.condition.length; i++) {
                                conditionLength=_self.condition[i].length;
                                var item={name:'请输入条件',type:"condition"};
                                arrItem.push(item);
                            }
                            for (var k = 0; k < _self.result.length; k++) {
                                resultLength=_self.result[k].length;
                                var item={name:'请输入结果',type:"result"};
                                arrItems.push(item);
                            }
                            console.log("条件长度"+conditionLength);
                            console.log("结果长度"+resultLength);
                            console.log("arrItem："+JSON.stringify(arrItem));

                            if(conditionLength>1){
                                _self.condition.splice(conditionLength,0,arrItem);
                            }else{
                                _self.condition.splice(conditionLength,0,[{name:'请输入条件',type:"condition"}]);
                            }

                            if(resultLength>1){
                                _self.result.splice(resultLength,0,arrItems);
                            }else{
                                _self.result.splice(resultLength,0,[{name:'请输入结果',type:"result"}]);
                            }

                            console.log("条件"+JSON.stringify(_self.condition));
                            console.log("结果"+JSON.stringify(_self.result));
                        }
                    },
                    items: {
                        "row_above": {name: "上方插入一行"},
                        "row_below": {name: "下方插入一行"},
                        "deleteRow": {name: "删除行"},
                        "deleteCol": {name: "删除列"}
                    }
                });
            },
            showCondition:function(event){
                var _self = this;
                var el=event.target.value;
                console.log("xxxx"+el);
                if(el=='请选择变量'){
                    console.log("我是变量");
                }


            }
            //addCondition:function (item) {
//                item = item || {temp: {}};
//                vue.set()
//                var paramCols = ['变量5','6'];
//                var resultColIndex = 0;
//                for (var i=0;i<this.rows[0].length;i++){
//                    if (this.rows[0][i].indexOf("结果")>0){
//                        resultColIndex = i;
//                        console.log("结果咧index"+resultColIndex);
//                        break;
//                    }
//                }
//                for(var i=0;i<this.rows.length;i++){
//                    var row=this.rows[i];
//                    var conditionCols = row.slice(0,resultColIndex);
//                    var resultCols = row.slice(resultColIndex,row.length);
//                    console.log("条件==="+conditionCols+"结果======="+resultCols)
//                    conditionCols.push(paramCols[i]);
//                    var newCols = conditionCols.concat(resultCols);
//                    console.log("newCols"+newCols);
//                    this.rows[i]=newCols;
//
//                }
//                var xxx = this.rows;
//                Vue.set(vm.rows,"rows", xxx);
//                console.log("--------"+xxx);



        }
    })
</script>
</body>
</html>

<!--addCondition:function () {-->
<!--var cols = ['变量5','6'];-->
<!--for(var i=0;i<this.rows.length;i++){-->
<!--var row=this.rows[i];-->
<!--row.push(cols[i]);-->
<!--}-->
<!--}-->