<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="../script/libs/jquery-2.2.0.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/vue/2.0.5/vue.js"></script>
</head>
<body>
<div id="app">
    <ol>
        <li>
            <span><input type="checkbox" v-model="selectAll"></th></span>
            <span align="left">全选</span>
        </li>
        <li v-for="answer in answers">
                <span>
                    <input type="checkbox" v-model="selected" :value="answer.id" >
                </span>
            <span>{{ answer.name }}</span>
        </li>
    </ol>

</div>

<script>
    
</script>
</body>
</html>