<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="../script/libs/jquery-2.2.0.min.js"></script>
    <script type="text/javascript" src="../script/controller/utils.js"></script>
</head>
<body>
<div class="box">
    <button class="add">添加</button>
    <button class="delete">删除</button>
    <div class="modal" style="width: 200px;height: 100px;display: none">
        <h1></h1>
        <button style="width: 50px;height: 50px">按钮</button>
    </div>
    <div class="tip">test</div>
</div>
<script>
    $("button").on('click',function (e) {
        if($(e.target).hasClass("add")){
            $(".modal").css("display","block");
            $(".modal>h1").html("添加");
            $(".modal button").removeClass("colAdd").addClass("rowAdd");
        }else{
            $(".modal").css("display","block");
            $(".modal>h1").html("删除");
            $(".modal button").removeClass("rowAdd").addClass("colAdd");
        }
    })

</script>
</body>
</html>